.nav {
    background-color: #FFFFFF;
    opacity: 0.7;
    filter: alpha(opacity=80);
    position: fixed;
    width: 100%;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.nav ul ul {
  display: none;
  padding: 15px 60px;
}

.nav ul li:hover > ul {
  display: block;
}

.nav ul ul li {
  display: block;
}

.jumbotron {
  background-image: url('9b635d7ccb865688440baf13cdfda3c8.jpg');
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 68px solid #ffffff;
}

.jumbotron .container {
  position: relative;
  top:10px;
}

.jumbotron h2 {
  color: #FCFEE5;
  font-size: 30px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 14px;
  text-transform: uppercase;
  color: #FFE4E1;
}

.jumbotron a {
    font-size: 14px;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.learn-more p {
  font-size: 13px;
}

.learn-more a {
  color: #00b0ff;
  font-size: 13px;
}

.pics {
    background-image: url('IMG_20150216_232349.jpg');
    border-bottom: 3px solid #dbdbdb;
    border-top: 2px solid #dbdbdb;
    background-repeat: no-repeat;
    background-size: cover;
}

.pics h2 {
    color: #FCFEE5;
    font-size: 24px;
}

.pics p {
    font-size: 15px;
    margin-bottom: 13px;
    color: #FCFEE5;
}