  <!DOCTYPE html>
  <html>

    <head>
      <link rel="stylesheet" type="text/css" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css"/>
      <link rel="stylesheet" type="text/css" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css"/> 
      <link rel="stylesheet" type="text/css" href="/static/main.css"/> 
      
    </head>

    <body>
        <div class="nav">
          <div class="container">
          <ul class="pull-left">
            <li><a href="#">Home</a></li>
            <li><a href="#">Explore</a>
              <ul class="drop-down">
                  <li><a href="#">just</a></li>
                  <li><a href="#">testing</a></li>
                  <li><a href="#">ok</a></li>
                </ul>
              </li>
          </ul>
          <ul class="pull-right">
            <li action="/" method='POST'>
              <form action="/" method='POST'> 
                
                <input type="submit" value="login" />
              </form> 
            </li>
            <li><a href="#">Sign up</a></li>
            <li><a href="#">Search</a></li>
          </ul>
        </div>
      </div>

      <div class="jumbotron">
        <div class="container">
          <h2>A Brief History</h2>
          <div class="row">
            <div class="col-md-7">
          <p>I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL
          </p>

          <p>I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL I LOVE PEDUL 
  </p>
            </div>
          </div>
          <a href="#">Learn More</a>
        </div>
      </div> 
    
      <div class="pics">
          <div class="container">
              <h2>Random Stuff</h2>
              <p>Some of the projects I've worked on (we should change this to something related to the company)</p>
              <div class="row">
                  <div class="col-md-4">
                      <div class="thumbnail">
                          <img src="/static/2014-11-22 18.32.08.jpg" alt="There Was an Image">
                      </div>
                      <div class="thumbnail">
                          <img src="/static/2014-12-03 18.30.34.jpg">
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="thumbnail">
                          <img src="/static/2014-11-24 09.33.20.jpg">
                      </div>
                      <div class="thumbnail">
                          <img src="/static/Wallpaper-Abstract-Circles-Patterns-Bokeh-Light-Color-Abstraction.jpg">
                      </div>
                   </div>
                  <div class="col-md-4">
                      <div class="thumbnail">
                          <img src="/static/2014-11-24 09.33.43.jpg">
                      </div>
                      <div class="thumbnail">
                          <img src="/static/2014-11-24 09.33.43.jpg">
                      </div>
              </div>
          </div>
      </div>
    </div>

      <div class="learn-more">
      <div class="container">
      <div class="row">
          <div class="col-md-4">
        <h3>Help</h3>
        <p>Click here to find out more about our mission.</p>
        <p><a href="#">See how awesome we are here</a></p>
          </div>
        <div class="col-md-4">
        <h3>Site Map</h3>
        <p>This is a mapping of the site. Feel free to look around. By the way this isn't interactive.. yet</p>
        <p><a href="#">Learn more about the site map</a></p>
        </div>
        <div class="col-md-4">
        <h3>Contact Us</h3>
        <p>Send us a message sometime. We would really appreciate it!</p>
        <p><a href="#">Learn more..</a></p>
        </div>
        </div>
      </div>
    </div>

    </body>
  </html>