  <!DOCTYPE html>
  <html>

    <head>
      <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
      <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
      <link rel="stylesheet" href="/static/main.css">
      
    </head>

    <body>
        <div class="nav_bar">
            <a href="#">peduL</a>
            <a href="#">Subscribe</a>
            <a href="#">Explore</a>
            <a href="#">Search</a>
        </div>


      <div class="loop">
        <p><bold>Video coming soon</bold></p>
      </div>


      <div class="jumbotron">
        <p><bold>it's time to invest in the future</bold></p>
        <a href="#"><strong>Subscribe now to receive updates</strong></a>
        <h6><i>introducing...</i></h6>
        <h1><strong>peduL</strong></h1>
      </div>

    
      <div class="mission_statement">
          <div class="container">
          <div class="row">
            <div class="col-md-7">
          <p>At <i>pedu</i>L, our mission is to alleviate the pressure of tuition prices and educational costs for the average student, and to provide potential donors with a medium through which they can benefit. <i>pedu</i>L will give students a practical way to raise money for their education.
          </p>
          <p>
          Our vision is to provide students with an intuitively designed, easy-to-use website through which students can showcase their academic and personal merit, as well as a place for desiring donors to actively support the college pursuits of said individuals. 
  </p>
            </div>
          </div>
          <a href="#">Subscribe Now</a>
        </div>
    </div>

      <div class="learn-more">
      <div class="container">
      <div class="row">
          <div class="col-md-4">
        <h3>Contact</h3>
        
        <p> 290 George Street </p>
        <p> New Brunswick, NJ 08901 </p>
        <p> (202) 492-5957 </p>
        <p><a href="#">Learn more</a></p>
          </div>
        <div class="col-md-4">
        <h3>Opportunity</h3>
        <p>Every child deserves the right to a higher education, that is why we're striving to make it more affordable. Come join us on our journey by subscribing and spreading the word.</p>
        <p><a href="#">Learn more</a></p>
        </div>
        <div class="col-md-4">
        <h3>Feedback</h3>
        <form method="post" action="">
<textarea name="comments" cols="50" rows="5">
</textarea><br>
<input type="submit" value="entrer" />
</form>
        </div>
        </div>
      </div>
    </div>

    </body>
  </html>



  <!-- Copyright Murtala Aliyu 2015, all rights reserved. -->
