html {
  background: url(9b635d7ccb865688440baf13cdfda3c8.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  background: linear-gradient(
      rgba(29, 35, 42, 0.85), 
      rgba(29, 35, 42, 0.85)
    ),
  url(PedulVid30sec.gif) no-repeat center center fixed;
  height: 810px; 
  background-size: cover;
}

.jumbotron h1 {
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 1500;
  padding-top: 160px;
  padding-left: 130px;
  color: #FFFFFF;
  font-family: Impact, 'Franklin Gothic Bold', 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
}

.jumbotron strong {
  color: #00D161;
  text-transform: lowercase;
}

.jumbotron .one {
  color: #DBDBDB;
}

.jumbotron p {
  margin: 5px 130px; 
  font-size: 2em; 
  font-weight: 130;
  color: #A6B3AD;
}

.jumbotron h4 {
  font-size: 21px;
  color: #FFFFFF;
  padding-top: 50px;
  padding-left: 130px;
}

.jumbotron .form-group {
  padding-left: 130px;
}

.learn-more {
  background-color: #FEFCFF;
  border-bottom: 3px solid #dbdbdb;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.learn-more p {
  font-size: 13px;
}

.learn-more a {
  color: #00b0ff;
  font-size: 13px;
}


/* Copyright PeduL 2015, all rights reserved.  */
