.nav_bar {
    background-color: #FFFFFF;
    opacity: 0.5;
    position: fixed;
    height:45px;
    width: 100%;
    color: #5a5a5a;
}

.nav_bar a {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding-left: 230px;
}

.loop {
  height: 500px;
  padding-top: 45px;
  background-color: #D80000;
}

.loop p {
  font-size: 28px;
  color: #3399FF;
  padding-top: 200px;
  padding-left: 550px;
}

.jumbotron {
  background-image: url('9b635d7ccb865688440baf13cdfda3c8.jpg');
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top: 10px;
}

.mission_statement {
    background-image: url('7adc2313538abb570049b1da90c8d658.jpg');
    height: 800px;
    border-bottom: 3px solid #dbdbdb;
    border-top: 2px solid #dbdbdb;
    background-repeat: no-repeat;
    background-size: cover;
}


.mission_statement p {
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 200px;
  color: #663333;
}


.mission_statement a {
    font-size: 18px;
}

.learn-more {
  background-color: #f7f7f7;
  height: 50px;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.learn-more p {
  font-size: 13px;
}

.learn-more a {
  color: #00b0ff;
  font-size: 13px;
}

