html {
  background: url(9b635d7ccb865688440baf13cdfda3c8.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav_bar {
    background-color: #FFFFFF;
    opacity: 0.4;
    position: absolute;
    height:45px;
    width: 100%;
    color: #5a5a5a;
}

.nav_bar a {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding-left: 230px;
  padding-top: 11px;
}

.jumbotron {
  background: linear-gradient(
      rgba(29, 35, 42, 0.85), 
      rgba(29, 35, 42, 0.85)
    ),
  url(PedulVid30sec.gif) no-repeat center center fixed;
  height: 810px; 
  background-size: cover;
}

.jumbotron h2 {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 1500;
  padding-top: 160px;
  padding-left: 130px;
  color: #F3F7EE;
}

.jumbotron p {
  padding: 0px;
  margin: 5px 130px; 
  font-size: 2em; 
  font-weight: 100;
  color: #A6B3AD;
}

.mission_statement {
    background-image: url('penguins-near-green-tree-background-hd-wallpaper-wallpaper-tree-backround-penguins-near-green-background-hd.jpg');
    height: 810px;
    border-top: 2px solid #dbdbdb;
    background-repeat: no-repeat;
    background-size: cover;
}


.mission_statement p {
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 150px;
  color: #993333;
}

.mission_statement i {
  text-transform: lowercase;
}


.mission_statement a {
    font-size: 18px;
    color: #3333CC;
}

.learn-more {
  background-color: #FEFCFF;
  border-bottom: 3px solid #dbdbdb;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.learn-more p {
  font-size: 13px;
}

.learn-more a {
  color: #00b0ff;
  font-size: 13px;
}


/* Copyright PeduL 2015, all rights reserved.  */
