  <!DOCTYPE html>
  <html>

    <head>
      <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
      <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
      <link rel="stylesheet" href="main.css">

      <title>PeduL</title>
      
    </head>

    <body>

      <div class="jumbotron">

      <h1>P<strong>edu</strong>l</h1>
      <div class="row">
        <div class="col-md-7">
      <p>A higher education crowdfunding platform that you can grow with.</p>
        </div>
      </div>
      <h4><strong class="one">Want to keep up with us?</strong></h4>

      <form class="form-inline">
        <div class="form-group">
         <input type="email" class="form-control" id="exampleInputEmail2" placeholder="example@gmail.com">
        </div>
        <button type="button" class="btn btn-success">Interested</button>
      </form>

      </div>
      

      <div class="learn-more">
      <div class="container">
      <div class="row">
          <div class="col-md-4">
        <h3>Contact</h3>
        <p> info@pedul.io </p>
          </div>
        <div class="col-md-4">
        <h3>Opportunity</h3>
        <p>Every child deserves the right to a higher education, that is why we're striving to make it more affordable. Come join us on our journey by subscribing and spreading the word.</p>
        </div>
        <div class="col-md-4">
        <h3>Feedback</h3>
        <form method="post" action="">
<textarea name="comments" cols="50" rows="5">
</textarea><br>
<button type="button" class="btn btn-default">Submit</button>
</form>
        </div>
        </div>
      </div>
    </div>

    </body>
  </html>



  <!-- Copyright PeduL 2015, all rights reserved. -->
