  <!DOCTYPE html>
  <html>

    <head>
      <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
      <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
      <link rel="stylesheet" href="main.css">
      
    </head>

    <body>
        <div class="nav_bar">
          <div class="container">
          <ul class="pull-left">
            <li><a href="#">peduL</a></li>
            <li><a href="#">Subscribe</a>
              </li>
          </ul>
          <ul class="pull-right">
            <li><a href="#">Explore</a></li>
              <ul class="drop-down">
              </ul>
            <li><a href="#">Search</a></li>
          </ul>
        </div>
      </div>


      <div class="loop">
        <p>VIDEO COMING SOON...</p>
      </div>


      <div class="jumbotron">
       
      </div>

    
      <div class="mission_statement">
          <div class="container">
          <div class="row">
            <div class="col-md-7">
          <p>At peduL, our mission is to alleviate the pressure of tuition prices and educational costs for the average student, and to provide potential donors with a medium through which they can benefit. PeduL will give students a practical way to raise money for their education.
          </p>
          <p>
          Our vision is to provide students with an intuitively-designed, easy-to-use website through which students can showcase their academic and personal merit as well as a place for desiring donors to actively support the college pursuits of said individuals. 
  </p>
            </div>
          </div>
          <a href="#">Subscribe Now</a>
        </div>
    </div>

      <div class="learn-more">
      <div class="container">
      <div class="row">
          <div class="col-md-4">
        <h3>Help</h3>
        <p>Click here to find out more about our mission.</p>
        <p><a href="#">See how awesome we are here</a></p>
          </div>
        <div class="col-md-4">
        <h3>Site Map</h3>
        <p>This is a mapping of the site. Feel free to look around. By the way this isn't interactive.. yet</p>
        <p><a href="#">Learn more about the site map</a></p>
        </div>
        <div class="col-md-4">
        <h3>Contact Us</h3>
        <p>Send us a message sometime. We would really appreciate it!</p>
        <p><a href="#">Learn more</a></p>
        </div>
        </div>
      </div>
    </div>

    </body>
  </html>