 <h2>Random Stuff</h2>
              <p>Some of the projects I've worked on (we should change this to something related to the company)</p>
              <div class="row">
                  <div class="col-md-4">
                      <div class="thumbnail">
                          <img src="2014-11-22 18.32.08.jpg">
                      </div>
                      <div class="thumbnail">
                          <img src="2014-12-03 18.30.34.jpg">
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="thumbnail">
                          <img src="2014-11-24 09.33.20.jpg">
                      </div>
                      <div class="thumbnail">
                          <img src="Wallpaper-Abstract-Circles-Patterns-Bokeh-Light-Color-Abstraction.jpg">
                      </div>
                   </div>
                  <div class="col-md-4">
                      <div class="thumbnail">
                          <img src="2014-11-24 09.33.43.jpg">
                      </div>
                      <div class="thumbnail">
                          <img src="2014-11-24 09.33.43.jpg">
                      </div>
              </div>
          </div>

********************************************************

<ul class="drop-down">
                  <li><a href="#">just</a></li>
                  <li><a href="#">testing</a></li>
                  <li><a href="#">ok</a></li>
                </ul>


********************************************************

<video id="sampleMovie" width="640" height="500" preload controls>
  <source src="2014-11-22 18.30.53.mov" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
  <source src="2014-11-22 18.30.53.ogv" type='video/ogg; codecs="theora, vorbis"' />
  <source src="2014-11-22 18.30.53.webm" type='video/webm; codecs="vp8, vorbis"' />
</video>

********************************************************


CSS
---------------------------------------------------------------------

.mission_statement h2 {
  color: #9966CC;
  font-size: 50px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}